<!--
  Generated template for the QiandaoSituPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar  color="primary">
    <button ion-button menuToggle>
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title>签到情况</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <p text-center="">已签到座位</p>
    <ion-grid>
      <ion-row class="quick-actions">
      <ion-col class="quick-action-item">
        <a class="shortcut" >
          <div *ngIf="IfQiandao[1]==noqiandao" class="text"></div>
        </a>
      </ion-col>
      <ion-col class="quick-action-item">
        <a class="shortcut" >
          <div *ngIf="IfQiandao[2]==noqiandao" class="text">已签到</div>
        </a>
      </ion-col>
      <ion-col class="quick-action-item">
        <a class="shortcut" >
          <div *ngIf="IfQiandao[3]==noqiandao" class="text">已签到</div>
        </a>
      </ion-col>
      <ion-col class="quick-action-item">
        <a class="shortcut" >
          <div *ngIf="IfQiandao[4]==noqiandao" class="text">已签到</div>
        </a>
      </ion-col>
      <ion-col class="quick-action-item">
        <a class="shortcut" >
          <div *ngIf="IfQiandao[5]==noqiandao" class="text">已签到</div>
        </a>
      </ion-col>
      <ion-col class="quick-action-item">
        <a class="shortcut" >
          <div *ngIf="IfQiandao[6]==noqiandao" class="text">已签到</div>
        </a>
      </ion-col>
      <ion-col class="quick-action-item">
        <a class="shortcut" >
          <div *ngIf="IfQiandao[7]==noqiandao" class="text">已签到</div>
        </a>
      </ion-col>
      <ion-col class="quick-action-item">
        <a class="shortcut" >
          <div *ngIf="IfQiandao[8]==noqiandao" class="text">已签到</div>
        </a>
      </ion-col>
    </ion-row>
      <ion-row class="quick-actions">
        <ion-col class="quick-action-item">
          <a class="shortcut">
            <div *ngIf="IfQiandao[9]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[10]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[11]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[12]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[13]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[14]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[15]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[16]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
      </ion-row>
      <ion-row class="quick-actions">
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[17]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[18]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[19]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[20]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[21]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[22]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[23]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[24]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
      </ion-row>
      <ion-row class="quick-actions">
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[25]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[26]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[27]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[28]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[29]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[30]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[31]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[32]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
      </ion-row>
      <ion-row class="quick-actions">
        <ion-col class="quick-action-item">
          <a class="shortcut">
            <div *ngIf="IfQiandao[33]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[34]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[35]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[36]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[37]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[38]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[39]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[40]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
      </ion-row>
      <ion-row class="quick-actions">
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[41]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[42]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[43]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[44]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[45]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[46]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[47]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
        <ion-col class="quick-action-item">
          <a class="shortcut" >
            <div *ngIf="IfQiandao[48]==noqiandao" class="text">已签到</div>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>


</ion-content>
