page-home {
.less-equal{
  color:color($colors,secondary);
}
  .greater{
    color:color($colors,danger);
  }

  .quick-action-item {
    text-align: center;
    height: 25vw;
    display: flex;
    align-items: center;
    border: 1px solid #ececec;
  }
  .quick-action-item + .quick-action-item{
    margin-left: -1px;
  }

  .shortcut{
    height: auto;

  }
  .quick-actions{
    margin-left: 1px;
  }
  .quick-actions + .quick-actions{
    margin-top: -1px;
  }
  .a{
    text-decoration: none;
  }
  .text{
    color:#000;

  }
  .img{
    width:45%;
    height:45%;
  }
  .num{
    text-align: center;
  }
}
